<!DOCTYPE html>
<html lang="en">
  <%- include('./parials/head') %>
  <body>
    <%- include('./parials/nav') %>

    <div class="not-found content">
      <h1>OPS, page not found.</h1>
    </div>
    <%- include('./parials/footer') %>
  </body>
</html>
