<!DOCTYPE html>
<html lang="en">
  <%- include('./parials/head') %>
  <body>
    <%- include('./parials/nav') %>

    <div class="about content">
      <h2>About US</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores vitae
        ex, doloremque minima illo quis recusandae amet dolorem corporis
        accusamus!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores vitae
        ex, doloremque minima illo quis recusandae amet dolorem corporis
        accusamus!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores vitae
        ex, doloremque minima illo quis recusandae amet dolorem corporis
        accusamus!
      </p>
    </div>
    <%- include('./parials/footer') %>
  </body>
</html>
